.logoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}


.logo *{
    fill: rgb(var(--text));
}

@media (width <= 576px) {
    .logoWrapper span {
        font-size: 18px;
    }

    .logoWrapper svg {
        height: 42px;
    }
}