.addReviewPage {
    padding: 0 120px;
}

.reviewTextarea {
    height: 88px;
    padding: 14px 16px;
    border-radius: 12px;
    border: 1px solid #CFD8DC;
}

.field {
    display: flex;
    gap: 40px;
    margin: 40px 0;
}

.field span {
    width: 30%;
}

.field input {
    width: 70%;
}

@media (width <= 576px) {
    .addReviewPage {
        padding: 0;
    }

    .form {
        padding: 0 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .field{
        flex-direction: column;
    }

    .field span {
        width: 100%
    }

    .field input {
        width: 100%;
    }

    .stars {
        display: flex;
        gap: 20px;
        justify-content: center;
    }
}