.container {
    max-width: 992px;
    margin: 0 auto;
}

.headerContainer {
    flex: 0 0 auto;
    background-color: rgb(var(--background-primary));
    color: rgb(var(--text));
}

.mainContainer {
    flex-grow: 1;
    position: relative;
    overflow: scroll;
}

.footerContainer {
    flex: 0 0 auto;
    background-color: rgb(var(--background-primary));
    color: rgb(var(--text));
}

@media (width <= 576px) {
    .container {
        gap: 10px;
    }
}