.header {
    display: flex;
    padding: 12px 0;
    align-items: center;
    gap: 80px;
    height: 80px;
    justify-content: space-between;
}

.profilesIcons {
    display: flex;
    width: 100px;
    justify-content: space-between;
}

.profilesIcon{
    display: flex;
}

.profilesIconImage {
    display: block;
}

.logo * {
    stroke: rgb(var(--text));
}

@media (width <= 576px) {
    .header {
        padding: 25px;
        position: relative;
        height: 170px;
        align-items: flex-start;
    }

    .profilesIcons {
        width: 120px;
        padding-top: 14px;
    }
}